*{
  margin:0px;
  padding:0px;}
.center-text{
  position:relative;
  text-align: center;}
.center-element{
  position:block;
  margin:0 auto;}
.container{
  display:flex;}
.aside{
  min-height:300px;
  margin-right:1px;
  padding:1px;
  flex:1;}
.main{
  min-height:300px;
  margin-left:1px;
  padding:1px;
  flex:3}
.balance{
  min-height:200px;
  flex:2;
  padding:1px;}
.reg-text{
  font-weight:normal;}
.bold{
  font-weight:bold;}
.nav-header{
  width:100%;
  min-height:30px;
  position:fixed;}
.not-nav-header{
  margin-top:30px;} 
body{
  height:10000px;}
h1{
  color:red;}
