*{
  margin:0px;
  padding:0px;}
.center-text{
  position:relative;
  text-align: center;}
.center-element{
  position:block;
  margin:0 auto;}
.container{
  display:flex;}
.aside{
  margin-right:1px;
  padding:1px;
  flex:1;}
.main{
  margin-left:1px;
  padding:1px;
  flex:3}
.balance{
  flex:2;
  padding:1px;}
.reg-text{
  font-weight:normal;}
.bold{
  font-weight:bold;}
.nav-header{
  height:20px;
  position:fixed;}
.not-nav-header{
  top:20px;} 
body{
  height:10000px;}
h1{
  color:red;}
